<!doctype html>
<html lang="en">
<head>
    <title>404 Not Found</title>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
<div class="main-container">
    <div class="auth-container">
        <div class="auth-form-wrapper">
            <h1>404 Not Found</h1>
            <p>Sorry, the page you're looking for could not be found.</p>
            <a href="/" class="go-home">Go Home</a>
        </div>
    </div>
</div>
</body>
</html>