<link rel="stylesheet" href="/css/navbar2.css">
<div class="secondary-navbar">
    <input type="text" class="search-input" placeholder="Search..." />
    <img src="/assets/default-avatar.png" alt="Profile" class="profile-icon" id="profileIcon"/>
</div>

<!-- Profile Modal -->
<%- include('profile-modal') %>