<link rel="stylesheet" href="css/new-comic-modal.css">
<div class="modal" id="modal">
    <div class="modal-inner">
        <h2>Placeholder</h2>
        <p>
            This is a placeholder for the new comic modal. It will be replaced with the actual content once the feature is implemented.
            <br>
            <br>
            <strong>Note:</strong> This modal is currently under development and will be available in a future update.
        </p>
        <button id="closeModal">Close</button>
    </div>
</div>